---
layout: page
title: Projects
---


<div width="40%" align="center" style="height:100px" class="side-by-side">
    <div align="center" style="width:200px" class="toleft">
        <img style="max-height: 200px; max-width: 200px;" class="image" src="mvsmplfitting.gif" >
    </div>

    <div align="left" style="width:450px" class="toright">
        <td>
            <b> MvSMPLfitting</b> - A multi-view SMPL fitting tool
            <br>
            <span style="display:inline-block;font-size:1.0em;font-family:Arial;padding-bottom:0.4em"><i> Fit SMPL(A Skinned Multi-Person Linear Model) to multi-view 2D image. Get 3D ground-truth human via 2D annotation.</i></span>
            <br>
            <br>
            <br>
            <br>
            <a href="https://github.com/boycehbz/MvSMPLfitting">[Github]</a> 
        </td>
    </div>
</div>

<hr style="height:0.1em;width:100%;font-size:0.1em;line-height:0.2em;border-top:0.1em solid #dedddd;"/>
<!-- <tr style="height:12em;width:100%;font-size:0.7em;line-height:1.2em;border-top:1px solid #dedddd;">
    
</tr> -->


<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <img class="image" src="/{{ post.image }}"{{post.image}}>
                    <h3 class="title">{{ post.title }}</h3>
                    

                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
